KMA_AUTH_KEY=your_kma_api_key_here
KMA_BEACH_API_KEY=your_kma_beach_service_key_here
OCEANS_BEACH_API_KEY=your_oceans_beach_service_key_here
TOUR_API_KEY=your_tour_api_service_key_here
LH_API_KEY=your_lh_public_data_service_key_here
POLICY_NEWS_API_KEY=your_policy_news_service_key_here
GOV24_API_KEY=your_government24_public_service_key_here
SINGLE_PARENT_FACILITY_API_KEY=your_single_parent_facility_service_key_here
DATA_GO_KR_API_KEY=optional_shared_public_data_service_key
